<h2 class="text-center mt-5 text-white"> Login</h2>



<div class="row justify-content-center">


    <div class="col-sm-4">

        
            <label for=""></label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      
    </div>
    


<div class="col-sm-4">

   
        <label for=""></label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    
        
</div>
    
</div>



<div class="row justify-content-center mt-5">

    <button [disabled]="isLoggedIn" (click)="login()" class="btn btn-success mr-5">Login</button>

    <!-- <button [disabled]="!isLoggedIn" class="btn btn-danger" (click)="logout()">Logout</button> -->

</div>
   



