<a (click)="back()" class="btn btn-sm btn-primary text-white mb-5 mt-3"> Back</a>

<div class="row justify-content-center">

  <div class="col-sm-6">


    <div class="card text-center ">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body text-center">
        <h4 class="card-title">Add Prodect</h4>



        <form action="sumbit()">

          <div class="row">

            <div class="col-sm-6">
              <label for=""></label>
              <input type="text" class="form-control " placeholder="Name">

            </div>

            <div class="col-sm-6">
              <label for=""></label>
              <input type="number" class="form-control " name="" id="" placeholder="Price">

            </div>

            <div class="col-sm-6">
              <label for=""></label>
              <input type="number" class="form-control " name="" id="" placeholder="Quantity">

            </div>

            <div class="col-sm-6">
              <label for=""></label>

               <label for=""></label>
               <select class="form-control" name="" id="">
                 <option value="0"> Select Category</option>
                 <option>2</option>
                 <option>3</option>
               </select>
      

            </div>
          </div>

          <div class="row mt-5 justify-content-center">

            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>


  </div>

</div>